Richman4L/Logics/GameLogic/GameTitleResources.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:element name="Titles" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TitleRoots" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="TitleRoot" >
                                <xs:complexType>
                                    <xs:attribute name="Content" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TitleKeys" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="TitleKey" >
                                <xs:complexType>
                                    <xs:attribute name="Content" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>